/* %Login Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px;
}

/* %Project Details Styles */
.project-details-table__container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}
.project-details__main {
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  /* row-gap: 1em; */
}

.project-details__address-map-dates-links {
  /* display: flex;
  margin: 1em 1em; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}

.project-details__address-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-details__title {
  font-size: 20px;
  text-align: center;
  color: #32323d;
  margin-top: 0.5em;
}

.project-details__text {
  font-size: 12px;
  text-align: center;
  color: #32323d;
  margin-top: 0.5em;
}

.project-details__date-chips {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 3/4;
  row-gap: 0.5em;
}

.MuiChip-root {
  width: 80%;
  justify-self: center;
}

.project-details__map {
  grid-row: 2/3;
  width: 95%;
  margin: auto;
  height: 30vh;
}

.project-details__add-buttons {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 0.5em;
}

.project-details__bottom-buttons {
  width: 94%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0.5em;
}

.project-details__update-button {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.project-details__delete-button {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
a {
  text-decoration: none;
}
tr {
  height: 40px !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}

/*% Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* % Dashboard Styles */
  .dashboard__main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .project-details__title {
    font-size: 26px;
  }

  .project-details__text {
    font-size: 16px;
  }
}

/*% Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* % Project Details Styles */
  .project-details__address-map-dates-links {
    grid-template-columns: 1fr 1fr;
  }

  .project-details__map {
    grid-column: 2;
    grid-row: 1/3;
  }

  .project-details__date-chips {
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
    align-content: center;
  }

  .project-details__add-buttons {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  /* .project-details_chip {
  } */
  .image-container {
    margin: 1em auto;
    width: 90%;
  }

  .map-icon {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .expense-date-label {
    width: 50%;
  }

  .dashboard__main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
