/* %Login Form Styles */
.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
  gap: 15px;
}

/* % Dashboard Styles */
.dashboard__title {
  width: 90%;
  margin: 1em auto;
  font-size: 24px;
  line-height: 1.7em;
  font-weight: 700;
}

.text-emphasis {
  background: #5d1451;
  color: white;
  padding: 0 0.5em;
  border-radius: 5px 10px 5px 30px/30px 35px 10px 15px;
}

.dashboard__main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-holder {
  background-color: #32323d03;
  box-shadow: 5px 5px 16px -2px #32323d54;
  margin-bottom: 2em;
}
.MuiCardContent-root {
  background-color: #32323d03;
  backdrop-filter: blur(10px);
}

/* %Project Details Styles */
.table__container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}
.project-details__main {
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  /* row-gap: 1em; */
}

.project-details__address-map-dates-links {
  /* display: flex;
  margin: 1em 1em; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
}

.project-details__address-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project-details__title {
  font-size: 20px;
  text-align: center;
  color: #32323d;
  margin-top: 0.5em;
}

.project-details__text {
  font-size: 12px;
  text-align: center;
  color: #32323d;
  margin-top: 0.5em;
}

.project-details__date-chips {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 3/4;
  row-gap: 0.5em;
}

.MuiChip-root {
  width: 80%;
  justify-self: center;
}

.actual-chip {
  background: #32323d;
}
.project-details__map {
  grid-row: 2/3;
  width: 95%;
  margin: auto;
  height: 30vh;
}

.project-details__add-buttons {
  width: 90%;
  margin: 0 auto 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 0.5em;
}

.project-details__bottom-buttons {
  width: 94%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0.5em;
}

.project-details__update-button {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.project-details__delete-button {
  width: 90%;
  margin: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
a {
  text-decoration: none;
  transition: all 250ms;
}

a:hover {
  transform: scale(1.05);
}

tr {
  height: 30px !important;
}

th {
  max-width: 125px;
  min-width: 125px;
  padding: 0 !important;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center !important;
}

td {
  height: 40px !important;
  padding: 5px !important;
  text-align: center !important;
}

.MuiButton-text {
  transition: all 250ms;
}

.MuiButton-text:hover {
  transition: scale(1.1);
}
/* %Log Pages Styles */
.log-page__title {
  font-size: 20px;
  text-align: center;
  color: #32323d;
  margin: 0.5em 0;
  font-weight: 700;
}

.log-page__subtitle {
  font-size: 18px;
  text-align: center;
  color: #32323d;
  margin-top: 1em;
  font-weight: 500;
}

/* %Add New Projet Styles */
.map-container {
  margin-top: 1em;
  width: 100%;
}

.map-icon {
  width: 100%;
}

.new-project__form-container {
  display: grid;
  grid-template-columns: 1fr;
}

.new-project__input-container {
  width: 100%;
}

.new-project_esd-date-picker {
  width: 263px;
  display: flex;
  margin-top: 1em;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.new-project_ecd-date-picker {
  width: 263px;
  display: flex;
  margin-top: 1em;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.page-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-column: 1fr;
  justify-items: center;
}
/*% Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* % Dashboard Styles */
  .dashboard__main {
    justify-content: space-around;
  }
  .dashboard__title {
    font-size: 44px;
  }

  .text-emphasis {
    padding: 0.2em 0.5em;
  }

  .project-details__title {
    font-size: 26px;
  }

  .project-details__text {
    font-size: 16px;
  }

  .log-page__title {
    font-size: 26px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .log-page__subtitle {
    font-size: 22px;
  }
  /* %New Project Styles */
  .new-project__form-container {
    grid-template-columns: 1fr 1fr;
  }

  .new-project__input-container {
    width: 100%;
  }

  .new-project_date-picker {
    width: 100%;
    display: flex;
    margin-top: 1em;
    gap: 1em;
    align-items: center;
    justify-content: center;
  }
}

/*% Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* % Project Details Styles */
  .project-details__address-map-dates-links {
    grid-template-columns: 1fr 1fr;
  }

  .project-details__map {
    grid-column: 2;
    grid-row: 1/3;
  }

  .project-details__date-chips {
    grid-column: 1/2;
    grid-row: 2/3;
    align-items: center;
    align-content: center;
  }

  .project-details__add-buttons {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .map-icon {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .expense-date-label {
    width: 50%;
  }

  .dashboard__main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
